//Color
.ink {color: #111111;}
.osd-indigo {color: #3f51b5;}
.osd-pink {color: #e91e63;}
.osd-gray {color: #757575;}

//Background color
.bg-osd {background-color: #fffff8;}
.bg-osd-indigo {background-color: #3f51b5;}
.bg-osd-pink {background-color: #e91e63;}
.bg-osd-gray {background-color: #757575;}

//Hover color
.hover-osd-indigo:hover {background-color: rgba(63, 81, 181, 0.7); color: white;}
.hover-osd-pink:hover {background-color: rgba(233, 30, 99, 0.7); color: white;}

//Border Color
.b--osd-indigo { border-color: #3f51b5; }
.b--osd-pink { border-color: #e91e63; }
