<footer class="pv6 b--black-10 black-70" id="footer">

  <a href="mailto:{{ site.email }}" class="link b f3 f2-ns dim black-70 lh-solid">{{ site.email }}</a>
  <p class="f6 db b ttu lh-solid">© 2015-19 {{ site.name }}</p>
  <nav class="pv4">
    <div class="nowrap overflow-x-auto">
      {% for nav in site.data.navs %}
      <a class="link dim gray f5 f4-ns dib mr3" href="{{ nav.url}}" title="{{ nav.title }}">{{ nav.title }}</a>
      {% endfor %}
    </div>
  </nav>
  <a class="link dim gray dib h2 w2 br-100 mr3 pa2 bg-near-white ba b--black-10" href="#" title="facebook">
    facebook
  </a>
  <a class="link dim gray dib h2 w2 br-100 mr3 pa2 bg-near-white ba b--black-10" href="#" title="twitter">
      twitter
  </a>
  <a class="link dim gray dib br-100 h2 w2 mr3 pa2 bg-near-white ba b--black-10" href="#" title="github">
    github
  </a>
  <div class="mt5">
    <a href="/language/" title="Language" class="f6 dib pr2 mid-gray dim">Statuto</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 mid-gray dim">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib pl2 mid-gray dim">Privacy</a>
  </div>
  <p class="f6 dib mid-gray">Questo sito non fa uso di cookie</p>
</footer>
