---
layout: default
---

{% assign chi = site.chi %}
{% for item in site.data.chi %}
<section id="{{ item.id }}">
  <h4>{{ item.title }} <small class="spacing-tight"><a class="" href="{{ item.url }}">permalink</a></small></h4>
  <p class="">{{ item.text }}</p>
</section>
{% endfor %}

{% for service in site.data.services %}
<section id="{{ service.id }}">
  <h4>{{ service.title }} <small><a class="" href="{{ service.url }}">permalink</a></small></h4>
  <p class="">{{ service.text }}</p>
</section>
{% endfor %}

<section id="Fatto">
  {% for activity in site.data.activities %}
    <ul>
      <li><small>{{ activity.periodo }}</small> <b>{{ activity.title }}</b> per {{ activity.partner }}{% if activity.partner-2 %}e  {{ activity.partner-2 }}{% endif %}<i>, {{ activity.tag }}</i> <small>(<a href="{{ activity.link-progetto }}">link</a>)</small></li>
    </ul>
  {% endfor %}
</section>

{% assign acquista = site.acquista %}
{% for item in site.data.acquista %}
<section id="Acquista">
  <h4>Acquista <small class="spacing-tight"><a class="" href="/#Acquista">permalink</a></small></h4>
  <p class="">{{ item.text }}</p>
</section>
{% endfor %}
